<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tik.mysystem.generator.mapper.OssFileMapper" >
  <resultMap id="BaseResultMap" type="com.tik.mysystem.generator.entity.OssFile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="relate_id" property="relateId" jdbcType="INTEGER" />
    <result column="bucket_name" property="bucketName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="original_file_name" property="originalFileName" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="BIGINT" />
    <result column="md5_hex" property="md5Hex" jdbcType="VARCHAR" />
    <result column="md5_hex_hash" property="md5HexHash" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="disabled" property="disabled" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, relate_id, bucket_name, type, original_file_name, file_size, md5_hex, 
    md5_hex_hash, url, create_user_id, update_user_id, create_time, update_time, disabled
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ih_oss_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ih_oss_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tik.mysystem.generator.entity.OssFile" >
    insert into ih_oss_file (id, account_id, relate_id, 
      bucket_name, type, original_file_name, 
      file_size, md5_hex, md5_hex_hash, 
      url, create_user_id, update_user_id, 
      create_time, update_time, disabled
      )
    values (#{id,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{relateId,jdbcType=INTEGER}, 
      #{bucketName,jdbcType=VARCHAR}, #{type,jdbcType=BIT}, #{originalFileName,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=BIGINT}, #{md5Hex,jdbcType=VARCHAR}, #{md5HexHash,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, #{updateUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{disabled,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tik.mysystem.generator.entity.OssFile" >
    insert into ih_oss_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="relateId != null" >
        relate_id,
      </if>
      <if test="bucketName != null" >
        bucket_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="originalFileName != null" >
        original_file_name,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="md5Hex != null" >
        md5_hex,
      </if>
      <if test="md5HexHash != null" >
        md5_hex_hash,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="relateId != null" >
        #{relateId,jdbcType=INTEGER},
      </if>
      <if test="bucketName != null" >
        #{bucketName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="originalFileName != null" >
        #{originalFileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="md5Hex != null" >
        #{md5Hex,jdbcType=VARCHAR},
      </if>
      <if test="md5HexHash != null" >
        #{md5HexHash,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tik.mysystem.generator.entity.OssFile" >
    update ih_oss_file
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="relateId != null" >
        relate_id = #{relateId,jdbcType=INTEGER},
      </if>
      <if test="bucketName != null" >
        bucket_name = #{bucketName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="originalFileName != null" >
        original_file_name = #{originalFileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="md5Hex != null" >
        md5_hex = #{md5Hex,jdbcType=VARCHAR},
      </if>
      <if test="md5HexHash != null" >
        md5_hex_hash = #{md5HexHash,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tik.mysystem.generator.entity.OssFile" >
    update ih_oss_file
    set account_id = #{accountId,jdbcType=INTEGER},
      relate_id = #{relateId,jdbcType=INTEGER},
      bucket_name = #{bucketName,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      original_file_name = #{originalFileName,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=BIGINT},
      md5_hex = #{md5Hex,jdbcType=VARCHAR},
      md5_hex_hash = #{md5HexHash,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      disabled = #{disabled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>