<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tik.mysystem.generator.mapper.FreightConfigMapper" >
  <resultMap id="BaseResultMap" type="com.tik.mysystem.generator.entity.FreightConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="expiry_start_date" property="expiryStartDate" jdbcType="TIMESTAMP" />
    <result column="expiry_end_date" property="expiryEndDate" jdbcType="TIMESTAMP" />
    <result column="carrier_id" property="carrierId" jdbcType="INTEGER" />
    <result column="delivery_type" property="deliveryType" jdbcType="BIT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="compute_mode" property="computeMode" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, expiry_start_date, expiry_end_date, carrier_id, delivery_type, price, compute_mode, 
    status, create_user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ih_freight_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ih_freight_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tik.mysystem.generator.entity.FreightConfig" >
    insert into ih_freight_config (id, name, expiry_start_date, 
      expiry_end_date, carrier_id, delivery_type, 
      price, compute_mode, status, 
      create_user_id, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{expiryStartDate,jdbcType=TIMESTAMP}, 
      #{expiryEndDate,jdbcType=TIMESTAMP}, #{carrierId,jdbcType=INTEGER}, #{deliveryType,jdbcType=BIT}, 
      #{price,jdbcType=DECIMAL}, #{computeMode,jdbcType=BIT}, #{status,jdbcType=BIT}, 
      #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tik.mysystem.generator.entity.FreightConfig" >
    insert into ih_freight_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="expiryStartDate != null" >
        expiry_start_date,
      </if>
      <if test="expiryEndDate != null" >
        expiry_end_date,
      </if>
      <if test="carrierId != null" >
        carrier_id,
      </if>
      <if test="deliveryType != null" >
        delivery_type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="computeMode != null" >
        compute_mode,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="expiryStartDate != null" >
        #{expiryStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryEndDate != null" >
        #{expiryEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="carrierId != null" >
        #{carrierId,jdbcType=INTEGER},
      </if>
      <if test="deliveryType != null" >
        #{deliveryType,jdbcType=BIT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="computeMode != null" >
        #{computeMode,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tik.mysystem.generator.entity.FreightConfig" >
    update ih_freight_config
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="expiryStartDate != null" >
        expiry_start_date = #{expiryStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expiryEndDate != null" >
        expiry_end_date = #{expiryEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="carrierId != null" >
        carrier_id = #{carrierId,jdbcType=INTEGER},
      </if>
      <if test="deliveryType != null" >
        delivery_type = #{deliveryType,jdbcType=BIT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="computeMode != null" >
        compute_mode = #{computeMode,jdbcType=BIT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tik.mysystem.generator.entity.FreightConfig" >
    update ih_freight_config
    set name = #{name,jdbcType=VARCHAR},
      expiry_start_date = #{expiryStartDate,jdbcType=TIMESTAMP},
      expiry_end_date = #{expiryEndDate,jdbcType=TIMESTAMP},
      carrier_id = #{carrierId,jdbcType=INTEGER},
      delivery_type = #{deliveryType,jdbcType=BIT},
      price = #{price,jdbcType=DECIMAL},
      compute_mode = #{computeMode,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>