<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tik.mysystem.generator.mapper.LogisticsCarrierMapper" >
  <resultMap id="BaseResultMap" type="com.tik.mysystem.generator.entity.LogisticsCarrier" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="company_cn" property="companyCn" jdbcType="VARCHAR" />
    <result column="company_en" property="companyEn" jdbcType="VARCHAR" />
    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
    <result column="address_cn" property="addressCn" jdbcType="VARCHAR" />
    <result column="address_en" property="addressEn" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, short_name, code, company_cn, company_en, register_date, address_cn, address_en, 
    create_user_id, create_time, update_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ih_carrier
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ih_carrier
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tik.mysystem.generator.entity.LogisticsCarrier" >
    insert into ih_carrier (id, name, short_name, 
      code, company_cn, company_en, 
      register_date, address_cn, address_en, 
      create_user_id, create_time, update_time, 
      status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{companyCn,jdbcType=VARCHAR}, #{companyEn,jdbcType=VARCHAR}, 
      #{registerDate,jdbcType=TIMESTAMP}, #{addressCn,jdbcType=VARCHAR}, #{addressEn,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.tik.mysystem.generator.entity.LogisticsCarrier" >
    insert into ih_carrier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="companyCn != null" >
        company_cn,
      </if>
      <if test="companyEn != null" >
        company_en,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="addressCn != null" >
        address_cn,
      </if>
      <if test="addressEn != null" >
        address_en,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="companyCn != null" >
        #{companyCn,jdbcType=VARCHAR},
      </if>
      <if test="companyEn != null" >
        #{companyEn,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="addressCn != null" >
        #{addressCn,jdbcType=VARCHAR},
      </if>
      <if test="addressEn != null" >
        #{addressEn,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tik.mysystem.generator.entity.LogisticsCarrier" >
    update ih_carrier
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="companyCn != null" >
        company_cn = #{companyCn,jdbcType=VARCHAR},
      </if>
      <if test="companyEn != null" >
        company_en = #{companyEn,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="addressCn != null" >
        address_cn = #{addressCn,jdbcType=VARCHAR},
      </if>
      <if test="addressEn != null" >
        address_en = #{addressEn,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tik.mysystem.generator.entity.LogisticsCarrier" >
    update ih_carrier
    set name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      company_cn = #{companyCn,jdbcType=VARCHAR},
      company_en = #{companyEn,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      address_cn = #{addressCn,jdbcType=VARCHAR},
      address_en = #{addressEn,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>